.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .slide ul {
  height: 800px;
  width: 100%;
}

.slider .slide div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media query to hide thumbs on mobile devices */
@media (max-width: 768px) {
  .carousel .thumbs {
    display: none;
  }
}
