@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Girassol&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Righteous&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-100;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="file"]::file-selector-button {
    @apply px-3 border-none rounded-md bg-darkThree/20 cursor-pointer active:scale-95 active:translate-y-1;
  }

  /* Login page Captcha styles*/
  #captcha > div {
    @apply flex items-center gap-x-3;
  }
}
.css-13cymwt-control {
  min-height: 500px;
}
